@charset utf-8;

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url(../img/gimp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
main{
    height: 100vh;
    position: relative;
}

section#telefone{
    height: 500px;
    width: 254px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/motorola.png);
    background-repeat: no-repeat;
}
iframe#tela{
    position: relative;
    top: 65px;
    left: 27px;
    height: 350px;
    width: 200px;
}
img,section#redes{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    
}

img:hover{
    transform: scale(1.1);
    transition: 0.3s;
    border: 2px solid #fff;
}